/* custom css */
.body-wide #header {
	display: none;
}

.form-control.ng-dirty.ng-invalid {
	border: 1px solid #C72557
}

.form-horizontal .control-label {
	padding-top: 0px;
	margin-bottom: 0;
}

@media (max-width: 767px) {
    .form-horizontal .control-label.col-xs-12 {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .form-horizontal .control-label.col-sm-12 {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .form-horizontal .control-label.col-md-12 {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .form-horizontal .control-label.col-lg-12 {
        text-align: left;
    }
}

.panel .panel {
    margin: 0;
}

.panel .panel > .panel-heading {
    padding: 3px 5px;
}

.steps li a {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin-bottom: 0px !important;
}

@media (min-width: 768px) {
    [type="statictext"] .form-group {
        margin-bottom: 0px;
    }

    [type="statictext"] .form-group > div {
        padding-left: 5px;
    }

    [type="statictext"] label {
        padding-right: 0px;
    }
}

a[disabled] img, img[disabled] {
    filter: alpha(opacity=60);
    opacity: .6;
}