<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" jd-i18n>Jedi Generator</a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li><a href="#/generator/bootstrap" jd-i18n>Bootstrap</a>
                </li>
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AngularJS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/generator/controller">Controller</a>
                        </li>
                        <li><a href="#/generator/modal">Modal</a>
                        </li>
                        <li><a href="#/generator/module">Module</a>
                        </li>
                          <li role="separator" class="divider"></li>
                        <li><a href="#/generator/feature">Feature</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:;" alt="Português" ng-disabled="appCtrl.getLanguage() == 'pt'"><img src="assets/img/pt-BR.png" ng-click="appCtrl.setLanguage('pt')" />
                    </a>
                </li>
                <li>
                    <a href="javascript:;" alt="English" ng-disabled="appCtrl.getLanguage() == 'en'"><img src="assets/img/en-US.png" ng-click="appCtrl.setLanguage('en')" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<jd-breadcrumb></jd-breadcrumb>