node_modules/
tmp
build/
node_modules/
gui/node_modules/
gui/client/bower_components/
gui/client/assets/fonts/
gui/client/assets/libs/
gui/client/assets/css/bootstrap.css
gui/client/assets/css/bootstrap-datetimepicker.css
gui/client/assets/css/loading-bar.css
gui/client/assets/css/font-awesome.css
gui/client/assets/css/weather-icons.css
gui/client/assets/css/angular-toastr.css
gui/client/assets/css/loading.css
gui/client/assets/css/table.css
**/env/*-env.json
gui/client/main.js
tmp
gui/client/version.json
*.log