<form jd-panel ng-controller="app.generator.moduleCtrl as moduleCtrl" name="moduleForm" jd-title=" Module">

    <div jd-panel jd-title="Parameters" jd-toggle>
        <div class="row">
            <input jd-input required jd-label="Module name" type="text" ng-model="moduleCtrl.moduleModel.params.moduleName" />

            <select required jd-input jd-label="Principal language" ng-model="moduleCtrl.moduleModel.params.defaultLang" jd-options="item.id as item.value for item in moduleCtrl.moduleModel.languages">
                <option value="">---</option>
            </select>

            <input jd-input='2' jd-grouplabel="i18n component?" jd-label="{{item.value}}" type="radio" ng-model="moduleCtrl.moduleModel.params.useI18n" ng-value="item.id" jd-repeat="item in moduleCtrl.moduleModel.yesno" />


            <input jd-input required jd-label="Destination root" type="text" ng-model="moduleCtrl.moduleModel.params.destinationRoot" />
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-disabled="!moduleForm.$valid" ng-click="moduleCtrl.generate()" jd-i18n>Generate</button>
            </div>
        </div>
    </div>
    <!--Fim div jd-panel -->


   </br>
    <div jd-panel jd-title="Execute command line" jd-toggle=false>  
        <input jd-input="12"  jd-label="Command line *" type="text" ng-model="moduleCtrl.moduleModel.commandline.command" jd-help="yo jedi:module --force --moduleName='<>' --defaultLang='<1>' --useI18n=true --destinationRoot='<>' " />
        <div class="col-xs-12">
            <button class="btn btn-primary" ng-click="moduleCtrl.executeCommand()" ng-disabled="moduleCtrl.moduleModel.commandline.command == ''"  jd-i18n>Execute command</button>
        </div>
    </div>
    <!--Fim form jd-panel -->

    </br>

    <div jd-panel jd-title="Output console" jd-toggle>
        <div class="row">
            <textarea jd-input="12" readonly ng-model="moduleCtrl.moduleModel.msgConsole" rows="20"></textarea>
        </div>
    </div>
    <!--Fim div jd-panel -->
</form>