<form jd-panel ng-controller="app.generator.controllerCtrl as controllerCtrl" name="controllerCtrlForm" jd-title=" Controller">

    <div jd-panel jd-title="Parameters" jd-toggle>
        <div class="row">
            <input jd-input required jd-label="Title" type="text" ng-model="controllerCtrl.controllerModel.params.title" />

            <input jd-input="3" required jd-label="Module" type="text" ng-model="controllerCtrl.controllerModel.params.moduleName" />

            <input jd-input="3" required jd-label="Sub module" type="text" ng-model="controllerCtrl.controllerModel.params.submodule" />
            
                     <input jd-input="3" required jd-label="Controller" type="text" ng-model="controllerCtrl.controllerModel.params.controller" />

            <input jd-input="3" required jd-label="Destination root" type="text" ng-model="controllerCtrl.controllerModel.params.destinationRoot" />
        </div>
    

        <div class="row">
            <div class="col-xs-12">
                <button ng-click="controllerCtrl.generate()" jd-i18n>generate</button>
            </div>
        </div>
    </div>
    <!--Fim div jd-panel -->

    <div jd-panel jd-title="Console" jd-toggle>
        <div class="row">
            <textarea jd-input="12" jd-lg-size="10" ng-model="controllerCtrl.controllerModel.console" required rows="10"></textarea>
        </div>
        <!--Fim div jd-panel -->
</form>