<form jd-modal name="<%= props.controller.decapitalize()%>Form" jd-title="<%= props.title%>">

    <div class="row">
    	<input type="text" jd-input jd-label="Input 1" ng-model="<%= props.controller.decapitalize()%>Ctrl.<%= props.controller.decapitalize()%>Model.input1">
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="<%= props.controller.decapitalize()%>Ctrl.method1()" jd-i18n>Method 1</button>
        <button class="btn btn-info" ng-click="<%= props.controller.decapitalize()%>Ctrl.method2()" jd-i18n>Method 2</button>
    </div>
</form>