<form jd-panel jd-title="<%= config.featureName%>" ng-controller="app.<%= config.moduleName.toLowerCase()%>.<%if (config.subModule) {%><%= config.subModule.toLowerCase()%>.<%}%><%= config.featureName.toLowerCase()%>.<%= config.featureName.capitalize()%>Ctrl as <%= config.featureName%>Ctrl">
    
    <div jd-panel jd-title="Filtros" jd-toggle>
         
        <% if(config.feature.fields)  {%>
            <% config.feature.fields.forEach(function(field){ %>
                <% if (field.userInterface.filter.showInFilter){%>
                    <% if(field.index === 0)  {%>
                      <div class="row">  
                    <% }%>  
                        
                     <% if(field.index != 0 && field.userInterface.form.newLine)  {%>
                       <div class="row">  
                    <% }%>            

                    <% if (field.userInterface.geral.fieldMask === 'text' ||
                           field.userInterface.geral.fieldMask === 'cpf'  ||
                           field.userInterface.geral.fieldMask === 'cnpj' ||
                           field.userInterface.geral.fieldMask === 'cep'  ||
                           field.userInterface.geral.fieldMask === 'int'  ||
                           field.userInterface.geral.fieldMask === 'tel'  ||
                           field.userInterface.geral.fieldMask === 'email'||
                           field.userInterface.geral.fieldMask === 'password'||
                           field.userInterface.geral.fieldMask === 'date'||
                           field.userInterface.geral.fieldMask === 'date-time'||
                           field.userInterface.geral.fieldMask === 'time'||
                           field.userInterface.geral.fieldMask === 'mask'||
                           field.userInterface.geral.fieldMask === 'currency' ){%>
                        <input jd-input="<%= field.userInterface.geral.size %>" 
                            <% if (field.userInterface.filter.requiredField) {%>
                              required
                           <% }%>    
                               jd-label="<%= field.userInterface.geral.fieldLabel.pt %>" 
                            <% if (field.userInterface.geral.fieldMask == 'email'){%>  
                               type="email" 
                            <% } 
                             else if (field.userInterface.geral.fieldMask == 'password'){%>  
                              type="password" 
                            <% }
                            else {%>
                              type="text" 
                            <% }%>   
                            <% if (field.userInterface.geral.fieldMask !== 'currency' && 
                                   field.userInterface.geral.fieldMask !== 'text' &&
                                   field.userInterface.geral.fieldMask !== 'email'){%>
                               mask="<%= field.userInterface.geral.fieldMask %>" 
                            <% }%>
                            <% if (field.userInterface.geral.fieldMask === 'currency'){%>
                               ng-currency-mask currency=""
                            <% }%>
                            <% if (field.userInterface.geral.fieldHelp !== undefined){%> 
                                <% if (field.userInterface.geral.fieldHelp.pt != undefined){%>
                                  jd-help="<%= field.userInterface.geral.fieldHelp.pt%>"
                                <%}%>
                                <% if (field.userInterface.geral.fieldHelp.en != undefined){%>
                                  jd-help="<%= field.userInterface.geral.fieldHelp.en%>"
                                <%}%>  
                            <% }%>   

                            <% if (field.userInterface.filter.dependsOn) {%>
                                jd-depends-on="
                                <% for(var i=0 in field.userInterface.filter.dependsOn) { %>
                                    <%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%= field.userInterface.filter.dependsOn[i]%>Filter 
                                    <% if (i < field.userInterface.filter.dependsOn.length -1) {%>
                                         &&
                                    <% }%>         
                                <% }%>
                                "    
                            <% }%>  
                            <% if (field.userInterface.geral.fieldMask === 'date'||
                                   field.userInterface.geral.fieldMask === 'date-time'||
                                   field.userInterface.geral.fieldMask === 'time') {%>
                               jd-datepicker="<%=field.userInterface.geral.fieldMask%>"
                            <% }%>      
                            <% if (field.userInterface.geral.fieldMask == 'mask') {%>
                               mask="<%=field.userInterface.geral.fieldMaskConfig.mask%>"
                            <% }%>                                
                            ng-model="<%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%= field.entity.fieldName%>Filter" />        
                    <% }%>
                    <% if(field.userInterface.geral.fieldMask === 'single-select-static' ||
                          field.userInterface.geral.fieldMask === 'single-select-rest'  ) {%>
                        <select name="<%=field.entity.fieldName%>Select" jd-input="<%= field.userInterface.geral.size %>" <% if (field.userInterface.filter.requiredField) {%>required<% }%> jd-label="<%= field.userInterface.geral.fieldLabel.pt %>" ng-model="<%=config.featureName%>Ctrl.<%=config.featureName%>Model.<%=field.entity.fieldName%>Filter"
                        <% if (field.userInterface.geral.fieldHelp !== undefined){%>   
                              <% if (field.userInterface.geral.fieldHelp.pt != undefined){%>
                                jd-help="<%= field.userInterface.geral.fieldHelp.pt%>"
                              <%}%>
                              <% if (field.userInterface.geral.fieldHelp.en != undefined){%>
                                jd-help="<%= field.userInterface.geral.fieldHelp.en%>"
                              <%}%>  
                        <% }%>
                        <% if (field.userInterface.filter.dependsOn) {%>
                              jd-depends-on="
                              <% for(var i=0 in field.userInterface.filter.dependsOn) { %>
                                  <%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%= field.userInterface.filterfr.dependsOn[i]%>Filter 
                                  <% if (i < field.userInterface.filter.dependsOn.length -1) {%>
                                       &&
                                  <% }%>         
                              <% }%>
                              "    
                         <% }%> 
                         <% if(field.userInterface.geral.fieldMask === 'single-select-rest') {%> 
                            jd-options="item as item.<%=field.userInterface.geral.fieldMaskConfig.params%> for item in <%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%=field.userInterface.geral.fieldMaskConfig.fieldValue%>"
                         <% } %>
                         >
                         <option value="">---</option>
                        <% if(field.userInterface.geral.fieldMask === 'single-select-static') {%>
                            <% field.userInterface.geral.fieldMaskConfig.params.forEach(function(param) {%>
                                <option value="<%=param.value%>"><%=param.label%></option>
                            <% }) %>
                        <% }%>
                        </select>
                    <% }%>
                    </div>   
                <% }%>       
            <% }) %>
            </div>    
        <% }%>  
            
                
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="<%= config.featureName%>Ctrl.filter()" jd-i18n>Filtrar</button>
                <button class="btn btn-primary" ng-click="<%= config.featureName%>Ctrl.clear()" jd-i18n>Limpar</button>
                <button class="btn btn-primary" ng-click="<%= config.featureName%>Ctrl.openCreateModal()" jd-i18n>Novo</button>
            </div>
        </div>
    </div>

    </br>
    <div jd-panel jd-title="Resultado" jd-toggle>
        <table jd-table="<%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%= config.featureName%>s" jd-paginated>    
            <tbody>
                <tr>
                    
                    <% config.feature.fields.forEach(function(field){ %>  
                        <% if (field.userInterface.result.showInResult) {%>
                            <td jd-sortable jd-attribute="<%= field.entity.fieldName%>" jd-title="<%= field.userInterface.geral.fieldLabel.pt%>"></td>
                        <% }%>  
                     <% }) %>                    
                    <td jd-title="Ações" class="text-center">
                        <a href="javascript:;" jd-i18n title="Editar" ng-click="<%= config.featureName%>Ctrl.openEditModal(item)"><i class="glyphicon glyphicon-pencil"></i></a>
                        &nbsp;
                        <a href="javascript:;" jd-i18n title="Excluir" ng-click="<%= config.featureName%>Ctrl.remove(item)"><i class=" glyphicon glyphicon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="<%= config.featureName%>Edit.html">
        <form jd-modal name="form_<%= config.featureName%>" jd-title="{{<%= config.featureName%>EditCtrl.<%= config.featureName%>EditModel.action == 'edit' ? 'Edição' : 'Inclusão'}}">
            
            
        <% if(config.feature.fields)  {%>
            <% config.feature.fields.forEach(function(field){ %>
                <% if (field.userInterface.form.visibleToTheUser){%>
                    <% if(field.index === 0)  {%>
                      <div class="row">  
                    <% }%>  
         
                     <% if(field.index != 0 && field.userInterface.filter.newLine)  {%>
                       </div>  
                       <div class="row">  
                    <% }%>          
                        
                     <% if (field.userInterface.geral.fieldMask === 'text' ||
                           field.userInterface.geral.fieldMask === 'cpf'  ||
                           field.userInterface.geral.fieldMask === 'cnpj' ||
                           field.userInterface.geral.fieldMask === 'cep'  ||
                           field.userInterface.geral.fieldMask === 'int'  ||
                           field.userInterface.geral.fieldMask === 'tel'  ||
                           field.userInterface.geral.fieldMask === 'email'||
                           field.userInterface.geral.fieldMask === 'password'||
                           field.userInterface.geral.fieldMask === 'date'||
                           field.userInterface.geral.fieldMask === 'date-time'||
                           field.userInterface.geral.fieldMask === 'time'||
                           field.userInterface.geral.fieldMask === 'mask'||
                           field.userInterface.geral.fieldMask === 'currency' ){%>
                       <input jd-input="<%= field.userInterface.geral.size %>" 
                        <% if (field.userInterface.filter.requiredField) {%>
                            required
                        <% }%>    
                            jd-label="<%= field.userInterface.geral.fieldLabel.pt%>" 
                        <% if (field.userInterface.geral.fieldMask == 'email'){%>  
                           type="email" 
                        <% } 
                        else if (field.userInterface.geral.fieldMask == 'password'){%>  
                              type="password" 
                        <% }
                        else {%>
                          type="text" 
                        <% }%>   
                        <% if (field.userInterface.geral.fieldMask !== 'currency' && 
                               field.userInterface.geral.fieldMask !== 'text' &&
                               field.userInterface.geral.fieldMask !== 'email'){%>
                           mask="<%= field.userInterface.geral.fieldMask %>" 
                        <% }%>      
                        <% if (field.userInterface.geral.fieldMask === 'currency'){%>
                             ng-currency-mask currency=""
                        <% }%>
                        <% if (field.userInterface.geral.fieldHelp !== undefined){%>   
                              <% if (field.userInterface.geral.fieldHelp.pt != undefined){%>
                                jd-help="<%= field.userInterface.geral.fieldHelp.pt%>"
                              <%}%>
                              <% if (field.userInterface.geral.fieldHelp.en != undefined){%>
                                jd-help="<%= field.userInterface.geral.fieldHelp.en%>"
                              <%}%>  
                        <% }%>
                        <% if (field.userInterface.form.dependsOn) {%>
                              jd-depends-on="
                              <% for(var i=0 in field.userInterface.form.dependsOn) { %>
                                  <%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%= field.userInterface.form.dependsOn[i]%>Filter 
                                  <% if (i < field.userInterface.form.dependsOn.length -1) {%>
                                       &&
                                  <% }%>         
                              <% }%>
                              "    
                        <% }%>  
                        <% if (field.userInterface.geral.fieldMask === 'date'||
                               field.userInterface.geral.fieldMask === 'date-time'||
                               field.userInterface.geral.fieldMask === 'time') {%>
                           jd-datepicker="<%=field.userInterface.geral.fieldMask%>"
                        <% }%>      
                        <% if (field.userInterface.geral.fieldMask == 'mask') {%>
                            mask="<%=field.userInterface.geral.fieldMaskConfig.mask%>"
                        <% }%>                 
                        ng-model="<%= config.featureName%>EditCtrl.<%= config.featureName%>EditModel.<%= config.featureName%>.<%= field.entity.fieldName%>" />   
                    <% }%>   
                   <% if(field.userInterface.geral.fieldMask === 'single-select-static' ||
                          field.userInterface.geral.fieldMask === 'single-select-rest'  ) {%>
                        <select name="<%=field.entity.fieldName%>Select" jd-input="<%= field.userInterface.geral.size %>" <% if (field.userInterface.filter.requiredField) {%>required<% }%> jd-label="<%= field.userInterface.geral.fieldLabel.pt %>" ng-model="<%=config.featureName%>Ctrl.<%=config.featureName%>Model.<%=field.entity.fieldName%>Filter"
                        <% if (field.userInterface.geral.fieldHelp !== undefined){%>   
                              <% if (field.userInterface.geral.fieldHelp.pt != undefined){%>
                                jd-help="<%= field.userInterface.geral.fieldHelp.pt%>"
                              <%}%>
                              <% if (field.userInterface.geral.fieldHelp.en != undefined){%>
                                jd-help="<%= field.userInterface.geral.fieldHelp.en%>"
                              <%}%>  
                        <% }%>
                        <% if (field.userInterface.form.dependsOn) {%>
                              jd-depends-on="
                              <% for(var i=0 in field.userInterface.form.dependsOn) { %>
                                  <%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%= field.userInterface.form.dependsOn[i]%>Filter 
                                  <% if (i < field.userInterface.form.dependsOn.length -1) {%>
                                       &&
                                  <% }%>         
                              <% }%>
                              "    
                         <% }%> 
                         <% if(field.userInterface.geral.fieldMask === 'single-select-rest') {%> 
                            jd-options="item as item.<%=field.userInterface.geral.fieldMaskConfig.params%> for item in <%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%=field.userInterface.geral.fieldMaskConfig.fieldValue%>"
                         <% }%>
                         >
                         <option value="">---</option>
                        <% if(field.userInterface.geral.fieldMask === 'single-select-static') {%>
                            <% field.userInterface.geral.fieldMaskConfig.params.forEach(function(param) {%>
                                <option value="<%=param.value%>"><%=param.label%></option>
                            <% }) %>
                        <% }%>
                        </select>
                    <% }%>    
                <% }%>            
            <% }) %>
             </div>    
        <% }%> 

            
        

             <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-disabled="!form_<%= config.featureName%>.$valid" ng-click="<%= config.featureName%>EditCtrl.save()" jd-i18n>Salvar</button>
                <button class="btn btn-primary" type="button" jd-dismiss-modal jd-i18n>Cancelar</button>
            </div>
        </form>
    </script>
</form>