<form jd-panel jd-title="<%= config.featureName%>" ng-controller="app.<%= config.moduleName.toLowerCase()%>.<%if (config.subModule) {%><%= config.subModule.toLowerCase()%>.<%}%><%= config.featureName.toLowerCase()%>.<%= config.featureName.capitalize()%>Ctrl as <%= config.featureName%>Ctrl">
    
    <div jd-panel jd-title="Filtros" jd-toggle>
         
        <% if(config.feature.fields)  {%>
            <% config.feature.fields.forEach(function(field){ %>
                <% if (field.userInterface.filter.showInFilter){%>
                    <% if(field.index === 0)  {%>
                      <div class="row">  
                    <% }%>  
                        
                     <% if(field.index != 0 && field.userInterface.form.newLine)  {%>
                       </div>  
                       <div class="row">  
                    <% }%>            

                    <% if (field.userInterface.geral.fieldMask === 'text' ||
                           field.userInterface.geral.fieldMask === 'cpf'  ||
                           field.userInterface.geral.fieldMask === 'cnpj' ||
                           field.userInterface.geral.fieldMask === 'cep'  ||
                           field.userInterface.geral.fieldMask === 'int'  ||
                           field.userInterface.geral.fieldMask === 'tel'  ||
                           field.userInterface.geral.fieldMask === 'decimal' ){%>
                        <input jd-input="<%= field.userInterface.geral.size %>" 
                            <% if (field.userInterface.filter.requiredField) {%>
                              required
                           <% }%>    
                               jd-label="<%= field.userInterface.geral.fieldLabel.pt %>" 
                               type="text" 
                            <% if (field.userInterface.geral.fieldMask !== 'decimal' && field.userInterface.geral.fieldMask !== 'text'){%>
                               mask="<%= field.userInterface.geral.fieldMask %>" 
                            <% }%>
                            <% if (field.userInterface.geral.fieldMask === 'decimal'){%>
                               ng-currency-mask currency=""
                            <% }%>
                            <% if (field.userInterface.geral.fieldHelp !== undefined){%>    
                                jd-help="<%= field.userInterface.geral.fieldHelp.pt"%>"
                            <% }%>   
                            <% if (field.userInterface.filter.dependsOn.length > 0) {%>
                                <!-- ng-disabled=""   -->
                            <% }%>   
                                
                               ng-model="<%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%= field.entity.fieldName%>Filter" />            
                    <% }%>     
                <% }%>       
            <% }) %>
            </div>    
        <% }%>  
            
                
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="<%= config.featureName%>Ctrl.filter()" jd-i18n>Filtrar</button>
                <button class="btn btn-primary" ng-click="<%= config.featureName%>Ctrl.clear()" jd-i18n>Limpar</button>
                <button class="btn btn-primary" ng-click="<%= config.featureName%>Ctrl.openCreateModal()" jd-i18n>Novo</button>
            </div>
        </div>
    </div>

    <div jd-panel jd-title="Resultado" jd-toggle>
        <table jd-table="<%= config.featureName%>Ctrl.<%= config.featureName%>Model.<%= config.featureName%>s" jd-paginated>    
            <tbody>
                <tr>
                    
                    <% config.feature.fields.forEach(function(field){ %>  
                        <% if (field.userInterface.result.showInResult) {%>
                            <td jd-sortable jd-attribute="<%= field.entity.fieldName%>" jd-title="<%= field.userInterface.geral.fieldLabel.pt%>"></td>
                        <% }%>  
                     <% }) %>                    
                    <td jd-title="Ações" class="text-center">
                        <a href="javascript:;" jd-i18n title="Editar" ng-click="<%= config.featureName%>Ctrl.openEditModal(item)"><i class="glyphicon glyphicon-pencil"></i></a>
                        &nbsp;
                        <a href="javascript:;" jd-i18n title="Excluir" ng-click="<%= config.featureName%>Ctrl.remove(item)"><i class=" glyphicon glyphicon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="<%= config.featureName%>Edit.html">
        <form jd-modal name="form_<%= config.featureName%>" jd-title="{{<%= config.featureName%>EditCtrl.<%= config.featureName%>EditModel.action == 'edit' ? 'Edição' : 'Inclusão'}}">
            
            
        <% if(config.feature.fields)  {%>
            <% config.feature.fields.forEach(function(field){ %>
                <% if (field.userInterface.form.visibleToTheUser){%>
                    <% if(field.index === 0)  {%>
                      <div class="row">  
                    <% }%>  
                        
                     <% if(field.index != 0 && field.userInterface.filter.newLine)  {%>
                       </div>  
                       <div class="row">  
                    <% }%>          
                        
                     <% if (field.userInterface.geral.fieldMask === 'text' ||
                           field.userInterface.geral.fieldMask === 'cpf'  ||
                           field.userInterface.geral.fieldMask === 'cnpj' ||
                           field.userInterface.geral.fieldMask === 'cep'  ||
                           field.userInterface.geral.fieldMask === 'int'  ||
                           field.userInterface.geral.fieldMask === 'tel'  ||
                           field.userInterface.geral.fieldMask === 'decimal' ){%>
                      <input jd-input="3" 
                        <% if (field.userInterface.filter.requiredField) {%>
                            required
                        <% }%>    
                            jd-label="<%= field.userInterface.geral.fieldLabel.pt%>" 
                            type="text" 
                         <% if (field.userInterface.geral.fieldMask !== 'decimal'){%>
                               mask="<%= field.userInterface.geral.fieldMask %>" 
                          <% }%>
                          <% if (field.userInterface.geral.fieldMask === 'decimal'){%>
                               ng-currency-mask currency=""
                          <% }%>
                          <% if (field.userInterface.geral.fieldHelp !== undefined){%>    
                              jd-help="<%= field.userInterface.geral.fieldHelp.pt"%>"
                          <% }%> 
                          <% if (field.userInterface.filter.dependsOn.length > 0) {%>
                                <!-- ng-disabled=""   -->
                         <% }%>         
                            ng-model="<%= config.featureName%>EditCtrl.<%= config.featureName%>EditModel.<%= config.featureName%>.<%= field.entity.fieldName%>" />   
                    <% }%>   
                <% }%>            
            <% }) %>
             </div>    
        <% }%> 

            
        

             <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-disabled="!form_<%= config.featureName%>.$valid" ng-click="<%= config.featureName%>EditCtrl.save()" jd-i18n>Salvar</button>
                <button class="btn btn-primary" type="button" jd-dismiss-modal jd-i18n>Cancelar</button>
            </div>
        </form>
    </script>
</form>