<form jd-panel ng-controller="app.generator.modalCtrl as modalCtrl" name="modalCtrlForm" jd-title=" Modal">

    <div jd-panel jd-title="Parameters" jd-toggle>
        <div class="row">
            <input jd-input required jd-label="Title" type="text" ng-model="modalCtrl.modalModel.params.title" />

            <input jd-input="3" required jd-label="Module" type="text" ng-model="modalCtrl.modalModel.params.moduleName" />

            <input jd-input="3" required jd-label="Sub module" type="text" ng-model="modalCtrl.modalModel.params.submodule" />

            <input jd-input="3" required jd-label="Controller" type="text" ng-model="modalCtrl.modalModel.params.controller" />

            <input jd-input="3" required jd-label="Params" type="text" ng-model="modalCtrl.modalModel.params.params" />

            <input jd-input="3" required jd-label="Destination root" type="text" ng-model="modalCtrl.modalModel.params.destinationRoot" />
        </div>


        <div class="row">
            <div class="col-xs-12">
                <button ng-click="modalCtrl.generate()" jd-i18n>generate</button>
            </div>
        </div>
    </div>
    <!--Fim div jd-panel -->

    <div jd-panel jd-title="Output console" jd-toggle>
        <div class="row">
            <textarea jd-input="12" jd-lg-size="10" readonly ng-model="modalCtrl.modalModel.msgConsole" required rows="20"></textarea>
        </div>
        <!--Fim div jd-panel -->
</form>