<div jd-panel ng-controller="app.generator.featureCtrl as featureCtrl" jd-title=" Feature">
    <form name="parametersForm" jd-panel jd-title="Parameters" jd-toggle>
        <div class="row">
            <input jd-input required jd-label="Feature name" type="text" ng-model="featureCtrl.featureModel.json.featureName" jd-help="Without special characters" />

            <input jd-input="6" required jd-label="Feature title" type="text" ng-model="featureCtrl.featureModel.json.featureTitle[appCtrl.getLanguage()]" />

            <select jd-input required jd-label="Feature type" ng-model="featureCtrl.featureModel.json.feature.type" jd-options="item.id as item.value for item in featureCtrl.featureModel.featuresType">
                <option value="">---</option>
            </select>
        </div>
        <div class="row">
            <input jd-input required jd-label="Module name" type="text" ng-model="featureCtrl.featureModel.json.moduleName" />

            <input jd-input jd-label="Sub-module name" type="text" ng-model="featureCtrl.featureModel.json.subModule" />

            <input jd-input required jd-label="API address" type="text" ng-model="featureCtrl.featureModel.json.apiAddress" />

            <input jd-input required jd-label="Destination root" type="text" ng-model="featureCtrl.featureModel.json.destinationRoot" />
        </div>
    </form>
    <!--Fim div jd-panel -->

    <div jd-panel jd-title="Fields" jd-toggle>
        <div class="row">
            <div jd-wizard finished='featureCtrl.finished()' id="wizard">
                <h1 jd-i18n>Field</h1>
                <form name="entityForm" class="form-group" id="div-entity" novalidate>
                    <div class="row">
                        
                        <input jd-input required jd-label="Field name" type="text" ng-model="featureCtrl.featureModel.param.feature.entity.fieldName" jd-help="Without special characters" />

                        <select jd-input required jd-label="Field type" ng-model="featureCtrl.featureModel.param.feature.entity.fieldType" jd-options="item as item for item in featureCtrl.featureModel.fieldstype" ng-change="featureCtrl.changeType()">
                            <option value="">---</option>
                        </select>

                        <!--select jd-input required jd-label="Cardinality" ng-model="featureCtrl.featureModel.param.feature.entity.cardinality" jd-options="item.value as item.value for item in featureCtrl.featureModel.cardinality">
                        </select-->
                    </div>
                </form>

                <h1 jd-i18n>UI Geral</h1>
                <form name="generalForm" class="form-group" id="div-uigeral" novalidate>
                    <div class="row">
                        <input jd-input="4" required jd-label="Field label" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldLabel[appCtrl.getLanguage()]" />

                        <input jd-input="5" jd-label="Field help" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldHelp[appCtrl.getLanguage()]" />

                        <select jd-input jd-label="Bootstrap Size" ng-init="featureCtrl.featureModel.param.feature.userInterface.geral.size = featureCtrl.featureModel.size[2]" required ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.size" jd-options="item.id as item.value for item in featureCtrl.featureModel.size">
                            <option value="">---</option>
                        </select>
                    </div>

                    <div class="row">
                        <input jd-input jd-label="Min character" mask="int" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.minCharacter" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'int' || featureCtrl.featureModel.param.feature.entity.fieldType == 'dobule' || featureCtrl.featureModel.param.feature.entity.fieldType == 'string'" />

                        <input jd-input jd-label="Max character" mask="int" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.maxCharacter" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'int' || featureCtrl.featureModel.param.feature.entity.fieldType == 'dobule' || featureCtrl.featureModel.param.feature.entity.fieldType == 'string'" />

                        <input jd-input jd-label="Min range" mask="int" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.minRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'int'" />
                        <input jd-input jd-label="Max range" mask="int" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.maxRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'int'" />

                        <input jd-input jd-label="Min range" ng-currency-mask type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.minRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'dobule'" />
                        <input jd-input jd-label="Max range" ng-currency-mask type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.maxRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'dobule'" />

                        <input jd-input jd-label="Min range" jd-datepicker="date" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.minRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'date'" />
                        <input jd-input jd-label="Max range" jd-datepicker="date" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.maxRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'date'" />

                        <input jd-input jd-label="Min range" jd-datepicker="date-time" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.minRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'date-time'" />
                        <input jd-input jd-label="Max range" jd-datepicker="date-time" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.maxRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'date-time'" />

                        <input jd-input jd-label="Min range" jd-datepicker="time" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.minRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'time'" />
                        <input jd-input jd-label="Max range" jd-datepicker="time" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.validator.maxRange" ng-show="featureCtrl.featureModel.param.feature.entity.fieldType == 'time'" />

                        <select ng-show="featureCtrl.hasMasks()" jd-input jd-label="Field mask" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask" jd-options="item.id as item.value for item in featureCtrl.featureModel.fieldsMask | maskByType:featureCtrl.featureModel.param.feature.entity.fieldType" ng-change="featureCtrl.changeMask()">
                            <option value="">---</option>
                        </select>

                        <!-- mask -->
                        <div ng-if="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'mask'">
                            <input required jd-input jd-label="Mask" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.mask" />
                        </div>

                        <!-- pattern -->
                        <div ng-if="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'pattern'">
                            <input required jd-input jd-label="Pattern/Regex" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.pattern" />
                        </div>

                        <!-- autocomplete -->
                        <div ng-if="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'autocomplete'">
                            <input required jd-input jd-label="URL" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.url" />

                            <input required jd-input jd-label="Parameters" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.params" jd-help="Field name separated by ','. E.g.: code,name,category" />

                            <input required jd-input jd-label="Fields to list" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldsList" jd-help="Field name separated by ','. E.g.: code,name,category" />

                            <input required jd-input jd-label="Expression to view" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.expression" jd-help="Interpolate expression will be used to render item selected in the input. E.g: {{code}} - {{name}}" />
                        </div>

                        <!-- modal -->
                        <div ng-if="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'modal'">
                            <input required jd-input jd-label="Directive" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.modal" />

                            <input required jd-input jd-label="Parameters" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.params" jd-help="Field name separated by ','. E.g.: code,name,category" />

                            <input required jd-input jd-label="Expression to view" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.expression" jd-help="Interpolate expression will be used to render item selected in the input. E.g: {{code}} - {{name}}" />
                        </div>

                        <!-- multi-radio-rest, multi-ckeck-rest e multi-select-rest -->
                        <div ng-if="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'multi-radio-rest' || featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'multi-ckeck-rest' || featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'multi-select-rest'">
                            <input required jd-input jd-label="URL" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.url" />

                            <input required jd-input jd-label="Parameters" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.params" jd-help="Field name separated by ','. E.g.: code,name,category" />

                            <input required jd-input jd-label="Field value" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldValue" jd-help="Field name to set in model" />

                            <input required jd-input jd-label="Field label" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldLabel" jd-help="Field name to show in form's field" />
                        </div>

                        <div class="col-xs-3" ng-if="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'multi-radio' || featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'multi-ckeck' || featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask == 'multi-select'">
                            <button type="button" class="btn btn-primary btn-icon-sm btn-control-label" ng-click="featureCtrl.addMultiItem()">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>

                    <!-- multi-radio, multi-ckeck e multi-select -->
                    <div ng-repeat="item in featureModel.param.feature.userInterface.geral.fieldMaskConfig.items" class="row">
                        <input jd-input jd-label="Value key" type="text" ng-model="item.fieldValue" />

                        <input required jd-input jd-label="Value label" type="text" ng-model="item.fieldLabel" />
                    </div>

                    <div class="row" ng-if="featureCtrl.featureModel.param.feature.entity.fieldType == 'int'">
                        <input jd-input jd-label="Value key" mask="int" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldValue" />

                        <input required jd-input jd-label="Value label" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldLabel" />
                    </div>

                    <div class="row" ng-if="featureCtrl.featureModel.param.feature.entity.fieldType == 'double'">
                        <input jd-input jd-label="Value key" ng-currency-mask type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldValue" />

                        <input required jd-input jd-label="Value label" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldLabel" />
                    </div>

                    <div class="row" ng-if="featureCtrl.featureModel.param.feature.entity.fieldType == 'date'">
                        <input jd-input jd-label="Value key" jd-datepicker="date" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldValue" />

                        <input required jd-input jd-label="Value label" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldLabel" />
                    </div>

                    <div class="row" ng-if="featureCtrl.featureModel.param.feature.entity.fieldType == 'date-time'">
                        <input jd-input jd-label="Value key" jd-datepicker="date-time" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldValue" />

                        <input required jd-input jd-label="Value label" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldLabel" />
                    </div>

                    <div class="row" ng-if="featureCtrl.featureModel.param.feature.entity.fieldType == 'time'">
                        <input jd-input jd-label="Value key" jd-datepicker="time" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldValue" />

                        <input required jd-input jd-label="Value label" type="text" ng-model="featureCtrl.featureModel.param.feature.userInterface.geral.fieldMaskConfig.fieldLabel" />
                    </div>
                </form>

                <h1 jd-i18n>UI Form</h1>
                <form name="formForm" class="form-group" id="div-uiform" novalidate>
                    <div class="row">

                        <input jd-input jd-grouplabel="Show in form" jd-label="{{item.value}}" ng-model="featureCtrl.featureModel.param.feature.userInterface.form.visibleToTheUser" type="radio" required jd-repeat="item in featureCtrl.featureModel.yesNo" ng-value="item.id" />


                        <input jd-input jd-grouplabel="Include in new line" jd-label="{{item.value}}" ng-model="featureCtrl.featureModel.param.feature.userInterface.form.newLine" type="radio" required jd-repeat="item in featureCtrl.featureModel.yesNo" ng-value="item.id" />



                        <input jd-input jd-grouplabel="Required field" jd-label="{{item.value}}" ng-model="featureCtrl.featureModel.param.feature.userInterface.form.requiredField" type="radio" required jd-repeat="item in featureCtrl.featureModel.yesNo" ng-value="item.id" />


                        <input jd-input jd-grouplabel="Field editable for" jd-label="{{item.value}}" ng-model="featureCtrl.featureModel.param.feature.userInterface.form.fieldEditableFor[$index]" type="checkbox" jd-repeat="item in featureCtrl.featureModel.fiedlsEditableFor" ng-value="item.id" />



                        <select ng-show="featureCtrl.featureModel.json.feature.fields.length > 0" multiple jd-input jd-label="Depends on" ng-model="featureCtrl.featureModel.param.feature.userInterface.form.dependsOn" jd-options="item.entity.fieldName as item.entity.fieldName for item in featureCtrl.featureModel.json.feature.fields">
                            <option value="">---</option>
                        </select>
                    </div>
                </form>

                <h1 jd-i18n>UI Filter</h1>
                <form name="filterForm" class="form-group" id="div-filter" novalidate>
                    <div class="row">
                        <input jd-input jd-grouplabel="Show in filter" jd-label="{{item.value}}" ng-model="featureCtrl.featureModel.param.feature.userInterface.filter.showInFilter" type="radio" required jd-repeat="item in featureCtrl.featureModel.yesNo" ng-value="item.id" />
                        <input jd-input jd-grouplabel="Include in new line" jd-label="{{item.value}}" ng-model="featureCtrl.featureModel.param.feature.userInterface.filter.newLine" type="radio" required jd-repeat="item in featureCtrl.featureModel.yesNo" ng-value="item.id" />

                        <input jd-input jd-grouplabel="Required field" jd-label="{{item.value}}" ng-model="featureCtrl.featureModel.param.feature.userInterface.filter.requiredField" type="radio" required jd-repeat="item in featureCtrl.featureModel.yesNo" ng-value="item.id" />

                        <select ng-show="featureCtrl.featureModel.json.feature.fields.length > 0" multiple jd-input jd-label="Depends on" ng-model="featureCtrl.featureModel.param.feature.userInterface.filter.dependsOn" jd-options="item.entity.fieldName as item.entity.fieldName for item in featureCtrl.featureModel.json.feature.fields">
                            <option value="">---</option>
                        </select>
                    </div>
                </form>

                <h1 jd-i18n>UI Results</h1>
                <form name="resultForm" class="form-group" id="div-results" novalidate>
                    <div class="row">
                        <input jd-input jd-grouplabel="Show in Result" jd-label="{{item.value}}" ng-model="featureCtrl.featureModel.param.feature.userInterface.result.showInResult" type="radio" required jd-repeat="item in featureCtrl.featureModel.yesNo" ng-value="item.id" />

                        <input jd-input jd-grouplabel="Used to delete" jd-label="{{item.value}}" ng-model="featureCtrl.featureModel.param.feature.userInterface.result.usedToDelete" type="radio" required jd-repeat="item in featureCtrl.featureModel.yesNo" ng-value="item.id" />
                    </div>
                </form>

                <h1 jd-i18n>Resume</h1>
                <form class="col-lg-12" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Field</h4>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Field name:">
                                {{featureCtrl.featureModel.param.feature.entity.fieldName}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Field type:">
                                {{featureCtrl.featureModel.param.feature.entity.fieldType}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" ng-hide="true" jd-lg-label-size="6" jd-label="Cardinality:">
                                {{featureCtrl.featureModel.param.feature.entity.cardinality}}
                            </div>

                            <h4>Ui Geral</h4>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Field label:">
                                {{featureCtrl.featureModel.param.feature.userInterface.geral.fieldLabel.pt}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Field hint:">
                                {{featureCtrl.featureModel.param.feature.userInterface.geral.fieldHint.pt}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Field mask:">
                                {{featureCtrl.featureModel.param.feature.userInterface.geral.fieldMask}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Max chars:">
                                {{featureCtrl.featureModel.param.feature.userInterface.geral.validator.maxCharacter}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Min chars:">
                                {{featureCtrl.featureModel.param.feature.userInterface.geral.validator.minCharacter}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Size:">
                                {{featureCtrl.featureModel.param.feature.userInterface.geral.size}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>UI Form</h4>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Depends on:">
                                {{featureCtrl.featureModel.param.feature.userInterface.form.dependsOn | json}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Field editable for:">
                                {{featureCtrl.featureModel.param.feature.userInterface.form.fieldEditableFor[$index]}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Include in new line:">
                                {{featureCtrl.featureModel.param.feature.userInterface.form.newLine}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Required field:">
                                {{featureCtrl.featureModel.param.feature.userInterface.form.requiredField}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Visible to the user:">
                                {{featureCtrl.featureModel.param.feature.userInterface.form.visibleToTheUser}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>UI Filter</h4>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Show in filter:">
                                {{featureCtrl.featureModel.param.feature.userInterface.filter.showInFilter}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Include in new line:">
                                {{featureCtrl.featureModel.param.feature.userInterface.filter.newLine}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Required field:">
                                {{featureCtrl.featureModel.param.feature.userInterface.filter.requiredField}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Depends on:">
                                {{featureCtrl.featureModel.param.feature.userInterface.filter.dependsOn | json}}
                            </div>
                        
                            <h4>UI Results</h4>
                            <div jd-input="12" jd-sm-label-size="6" jd-md-label-size="6" jd-lg-label-size="6" jd-label="Show in result:">
                                {{featureCtrl.featureModel.param.feature.userInterface.result.showInResult}}
                            </div>
                            <div jd-input="12" jd-sm-label-size="6  " jd-md-label-size="6" jd-lg-label-size="6" jd-label="Used to delete:">
                                {{featureCtrl.featureModel.param.feature.userInterface.result.usedToDelete}}
                            </div>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>

    <div jd-panel jd-title="Fields Addeds" jd-toggle>
        <div class="row">
            <table jd-table="featureCtrl.featureModel.json.feature.fields">
                <tbody>
                    <tr>
                        <td jd-attribute="entity.fieldName" jd-title="Field name"></td>
                        <td jd-attribute="entity.fieldType" jd-title="Field type"></td>
                        <td jd-attribute="userInterface.geral.fieldLabel.pt" jd-title="Field label"></td>
                        <td jd-attribute="userInterface.geral.fieldMask" jd-title="Field mask"></td>
                        <td jd-attribute="userInterface.filter.showInFilter" jd-title="Show in filter"></td>
                        <td jd-attribute="userInterface.result.showInResult" jd-title="Show in result"></td>
                        <td jd-title="Action">
                            <p>
                                <a href="" class="btn-icon btn-icon-sm bg-success" ng-click="featureCtrl.edit(item)"><i class="fa fa-edit"></i></a>
                                </span>
                                <a href="" class="btn-icon btn-icon-sm bg-danger" ng-click="featureCtrl.remove(item)"><i class="fa fa-remove"></i></a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="featureCtrl.generate()" ng-disabled="featureCtrl.featureModel.json.feature.fields.length == 0" jd-i18n>Generate</button>
            </div>
        </div>
    </div>

    <!--Fim div jd-panel -->
    <div jd-panel jd-title="Output console" jd-toggle>
        <div class="row">
            <textarea jd-input="12" jd-lg-size="10" readonly ng-model="featureCtrl.featureModel.msgConsole" required rows="20"></textarea>
        </div>
    </div>

</div>