<form jd-panel jd-title="poc" ng-controller="app.poc.poc.PocCtrl as pocCtrl">
    
    <div jd-panel jd-title="Filtros" jd-toggle>
        <div class="row">
            <input jd-input="3" jd-label="Alias" type="text" ng-model="systemRegistrationCtrl.systemRegistrationModel.aliasFilter" />
            <input jd-input="4" jd-label="Nome" type="text" ng-model="systemRegistrationCtrl.systemRegistrationModel.nameFilter" />
              
            
                
                           
                
                           
                
              
            
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="pocCtrl.filter()" jd-i18n>Filtrar</button>
                <button class="btn btn-primary" ng-click="pocCtrl.clear()" jd-i18n>Limpar</button>
                <button class="btn btn-primary" ng-click="pocCtrl.openCreateModal()" jd-i18n>Novo</button>
            </div>
        </div>
    </div>

    <div jd-panel jd-title="Resultado" jd-toggle>
        <table at-table="pocCtrl.pocModel.pocs" at-paginated>    
            <tbody>
                <tr>
                    <td at-sortable at-attribute="id" at-title="Código"></td>
                    <td at-sortable at-attribute="name" at-title="Nome"></td>
                    <td at-sortable at-attribute="alias" at-title="Alias"></td>
                    
                      
                        
                            <td at-sortable at-attribute="title" at-title="Title"></td>
                          
                       
                        
                            <td at-sortable at-attribute="body" at-title="body"></td>
                          
                                         
                    <td at-sortable at-attribute="isMenuItem" at-filter="jdBoolToText" at-title="Visível no menu"></td>
                    <td at-title="Ações" class="text-center">
                        <a href="javascript:;" jd-i18n title="Editar" ng-click="pocCtrl.openEditModal(item)"><i class="glyphicon glyphicon-pencil"></i></a>
                        &nbsp;
                        <a href="javascript:;" jd-i18n title="Excluir" ng-click="pocCtrl.remove(item)"><i class=" glyphicon glyphicon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="pocEdit.html">
        <form jd-modal name="form_poc" jd-title="{{pocEditCtrl.pocEditModel.action == 'edit' ? 'Edição' : 'Inclusão'}}">
        
            
                            
            
                            
            
         
        

             <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-disabled="!form_poc.$valid" ng-click="pocEditCtrl.save()" jd-i18n>Salvar</button>
                <button class="btn btn-primary" type="button" jd-dismiss-modal jd-i18n>Cancelar</button>
            </div>
        </form>
    </script>
</form>