<form jd-panel ng-controller="app.generator.featureCtrl as featureCtrl" name="featureCtrlForm" jd-title=" Feature">

    <div jd-panel jd-title="Parameters" jd-toggle>
        <div class="row">
            
        </div>
    

        <div class="row">
            <div class="col-xs-12">
                <button  class="btn btn-primary" ng-click="featureCtrl.generate()" jd-i18n>generate</button>
            </div>
        </div>
    </div>
    <!--Fim div jd-panel -->

    <!--Fim div jd-panel -->

    <div jd-panel jd-title="Output console" jd-toggle>
        <div class="row">
            <textarea jd-input="12" jd-lg-size="10" readonly ng-model="featureCtrl.featureModel.msgConsole" required rows="20"></textarea>
        </div>
        <!--Fim div jd-panel -->
</form>