<form jd-panel ng-controller="app.generator.moduleCtrl as moduleCtrl" name="moduleCtrlForm" jd-title=" Module">

    <div jd-panel jd-title="Parameters" jd-toggle>
        <div class="row">
            <input jd-input required jd-label="Module name" type="text" ng-model="moduleCtrl.moduleModel.params.moduleName" />


            <select jd-input="3" jd-label="i18n component?" ng-model="moduleCtrl.moduleModel.params.useI18n" jd-options="item.id as item.value for item in moduleCtrl.moduleModel.yesno">
                <option value="" jd-i18n>Selecione</option>
            </select>

            <select jd-input="3" jd-label="Breadcrumb component?" ng-model="moduleCtrl.moduleModel.params.useBreadcrumb" jd-options="item.id as item.value for item in moduleCtrl.moduleModel.yesno">
                <option value="" jd-i18n>Selecione</option>
            </select>


            <input jd-input="3" required jd-label="Destination root" type="text" ng-model="moduleCtrl.moduleModel.params.destinationRoot" />
            
            
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button  class="btn btn-primary" ng-click="moduleCtrl.generate()" jd-i18n>generate</button>
            </div>
        </div>
    </div>
    <!--Fim div jd-panel -->

    <div jd-panel jd-title="Output console" jd-toggle>
        <div class="row">
            <textarea jd-input="12" jd-lg-size="10" readonly ng-model="moduleCtrl.moduleModel.msgConsole" required rows="20"></textarea>
        </div>
        <!--Fim div jd-panel -->
</form>